<div class="login-accounts-panel">
    <div class="panel-inner">
        <div class="close-button">
            <i data-feather="x"></i>
        </div>
        <div class="header">
            <h3>Demo Accounts</h3>
            <p>Use one of the following credentials to login to a demo Nephos account.</p>
        </div>
        <!--Block-->
        <div class="login-block">
            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/elie.jpg" alt="">
            <div class="meta">
                <span>
                    <label>Email: </label>
                    <span class="fake-email">elie@mail.com</span>
                </span>
                <span>
                    <label>Password: </label>
                    <span class="fake-password">testpassword</span>
                </span>
            </div>
        </div>
        <!--Block-->
        <div class="login-block">
            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/john.jpg" alt="">
            <div class="meta">
                <span>
                    <label>Email: </label>
                    <span class="fake-email">john@mail.com</span>
                </span>
                <span>
                    <label>Password: </label>
                    <span class="fake-password">testpassword</span>
                </span>
            </div>
        </div>
        <!--Block-->
        <div class="login-block">
            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/samantha.jpg" alt="">
            <div class="meta">
                <span>
                    <label>Email: </label>
                    <span class="fake-email">samantha@mail.com</span>
                </span>
                <span>
                    <label>Password: </label>
                    <span class="fake-password">testpassword</span>
                </span>
            </div>
        </div>
        <!--Block-->
        <div class="login-block">
            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/arthur.jpg" alt="">
            <div class="meta">
                <span>
                    <label>Email: </label>
                    <span class="fake-email">arthur@mail.com</span>
                </span>
                <span>
                    <label>Password: </label>
                    <span class="fake-password">testpassword</span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="login-accounts-trigger is-active">
    <i data-feather="more-horizontal"></i>
</div>