<div id="checkout-blocked-modal" class="modal checkout-blocked-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="box-header">
                <img src="assets/img/logo/nephos-greyscale.svg" alt="">
                <span></span>
            </div>
            <div class="box-body">
                <div class="inner-content">
                    <div class="modal-placeholder">
                        <div class="placeholder-content">
                            <img src="assets/img/illustrations/payment.svg" alt="">
                            <h3>Checkout is Blocked</h3>
                            <p>You currently don't have any checkout data. Please start checkout from the cart page.</p>
                            <div class="button-wrap">
                                <a href="cart.html" class="button big-button primary-button rounded raised">View My Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
