<div id="checkout-unauth-modal" class="modal checkout-unauth-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="box-header">
                <img src="assets/img/logo/nephos-greyscale.svg" alt="">
                <span></span>
            </div>
            <div class="box-body">
                <div class="inner-content">
                    <div class="modal-placeholder">
                        <div class="placeholder-content">
                            <img src="assets/img/illustrations/login.svg" alt="">
                            <h3>Hello, guest</h3>
                            <p>You cannot start checking out without being logged to your account. Please login to your account first.</p>
                            <div class="button-wrap">
                                <a href="authentication.html" class="button big-button primary-button rounded raised">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>