<!-- Concatenated plugins -->
<script src="{{ root }}assets/js/app.js"></script>

<!--Data-->
<script src="{{ root }}assets/js/_data-wishlist.js"></script>
<script src="{{ root }}assets/js/_data-addresses.js"></script>
<script src="{{ root }}assets/js/_data-orders.js"></script>

<!-- Nephos js -->
<script src="{{ root }}assets/js/functions.js"></script>
<script src="{{ root }}assets/js/elements.js"></script>
<script src="{{ root }}assets/js/nephos.js"></script>

<script src="{{ root }}assets/js/authentication.js"></script>
<script src="{{ root }}assets/js/cart.js"></script>