<!-- Concatenated plugins -->
<script src="{{ root }}assets/js/app.js"></script>

<!--Data-->
<script src="{{ root }}assets/js/_data-wishlist.js"></script>
<script src="{{ root }}assets/js/_data-addresses.js"></script>
<script src="{{ root }}assets/js/_data-orders.js"></script>

<!-- Nephos js -->
<script src="{{ root }}assets/js/functions.js"></script>
<script src="{{ root }}assets/js/nephos.js"></script>
<script src="{{ root }}assets/js/authentication.js"></script>
<script src="{{ root }}assets/js/cart.js"></script>

<!--Pages-->
<script src="{{ root }}assets/js/account.js"></script>
<script src="{{ root }}assets/js/wishlist.js"></script>
<script src="{{ root }}assets/js/product.js"></script>
<script src="{{ root }}assets/js/orders.js"></script>
<script src="{{ root }}assets/js/order.js"></script>
<script src="{{ root }}assets/js/checkout.js"></script>
<script src="{{ root }}assets/js/search.js"></script>