<div class="category-quickview">
    <div class="inner">
        <ul class="category-menu">
            <li>
                <a href="products.html">
                    <span>House</span> <!--img src="assets/img/icons/living.svg" alt=""-->
                    {{> house}}
                </a>
            </li>
            <li>
                <a href="products.html">
                    <span>Office</span> <!--img src="assets/img/icons/office.svg" alt=""-->
                    {{> office}}
                </a>
            </li>
            <li>
                <a href="products.html">
                    <span>For kids</span> <!--img src="assets/img/icons/kids.svg" alt=""-->
                    {{> kids}}
                </a>
            </li>
            <li>
                <a href="products.html">
                    <span>Kitchen</span> <!--img src="assets/img/icons/kitchen.svg" alt=""-->
                    {{> kitchen}}
                </a>
            </li>
            <li>
                <a href="products.html">
                    <span>Accessories</span> <!--img src="assets/img/icons/accessories.svg" alt=""-->
                    {{> accessories}}
                </a>
            </li>
            <li>
                <a href="products.html">
                    <span>View All</span> <!--img src="assets/img/icons/all.svg" alt=""-->
                    {{> all}}
                </a>
            </li>
        </ul>

        <!--div class="all-categories is-hidden-mobile">
            <a href="products.html">Show all categories</a>
            <div class="centered-divider"></div>
        </div-->
    </div>
</div>
