<div class="shop-quickview has-background-image" data-background="http://via.placeholder.com/1280x853"
    data-demo-background="assets/img/bg/sidebar.jpeg">
    <div class="inner">
        <!-- Header -->
        <div class="quickview-header">
            <h2>Nephos</h2>
            <span id="close-shop-sidebar"><i data-feather="x"></i></span>
        </div>
        <!-- Shop menu -->
        <ul class="shop-menu">
            <li>
                <a href="shop.html">
                    <span>Shop</span>
                    <i data-feather="grid"></i>
                </a>
            </li>
            <li>
                <a href="products.html">
                    <span>All Products</span>
                    <i data-feather="box"></i>
                </a>
            </li>
            <li>
                <a href="account.html">
                    <span>My Account</span>
                    <i data-feather="user"></i>
                </a>
            </li>
            <li>
                <a href="orders.html">
                    <span>My Orders</span>
                    <i data-feather="credit-card"></i>
                </a>
            </li>
            <li>
                <a href="wishlist.html">
                    <span>My Wishlists</span>
                    <i data-feather="heart"></i>
                </a>
            </li>
        </ul>
        <!-- Profile image -->
        <ul class="user-profile">
            <li>
                <a href="javascript:void(0);">
                    <img id="quickview-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/altvatar.png" alt="">
                    <span class="user">
                        <span id="quickview-username">Guest</span>
                        <span id="quickview-cart-count"><var>0</var> <small>Items in Cart</small></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>